@page
@model StudetManagement.Pages.Students.IndexModel
@{
}
<br />
<h2 >
    List Of Students
</h2>
<a class="btn btn-primary btn-sm" href='/Students/Create'>New Students</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Registration Number</th>
            <th>Index Number</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListStudents)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.reg_id</td>
                <td>@item.indexNum</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.createdAt</td>

                <td>
                <a class="btn btn-primary btn-sm" href="/Students/Edit?id=@item.id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/Students/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

